#fmew  ul {
	padding:0;
	margin:0;
	overflow:hidden;
}
#fmew ul li{
	float:left;
	padding:10px;
	list-style:none;
	margin:0;
}
#fmew ul li a:hover{
	text-decoration:none;
}
#fmew ul .first{
	padding:10px 10px 10px 0;
	clear:both;
}

#fmew ul li .FaceBook{
	display:block; 	
}
#fmew ul li .FriendFeed{
	display:block; 	
}
#fmew ul li .LinkedIn{
	display:block; 	
}
#fmew ul li .MySpace{
	display:block; 	
}
#fmew ul li .Friendster{
	display:block; 	
	background:url(../images/friendster.png) 0 50% no-repeat;
}
#fmew ul li .Orkut{
	display:block; 	
	background:url(../images/orkut.png) 0 50% no-repeat;
}
#fmew ul li .Zorpia{
	display:block; 	
}
#fmew ul li .Netlog{
	display:block; 	
}
#fmew ul li .Bebo{
	display:block; 	
}
#fmew ul li .Hi5{
	display:block; 
}
#fmew ul li .PerfSpot{
	display:block; 	
}
#fmew ul li .Twitter{
	display:block; 	
}
#fmew h3{
	margin-bottom:0;
	font-size:14px;
}
#fmew ul{
	padding:5px;
}
#fmew li{
	background:none;
	list-style:none;
}
