#msg, #listmsg, #stylemsg, #displaymsg{
	height:20px;
	line-height:20px;
	color:navy;
	font-size:14px;
	display:none;
}
#msg img, #listmsg img, #stylemsg img ,#displaymsg img{
	vertical-align:middle;
}
#fmew_admin{
	margin:5px auto 0 auto;
}
#fmew_admin input{
	background:#ccc;
	border:1px #aaa solid;
}
#fmew_admin .add ,#fmew_admin .list{
	padding:0 0 0 5px;
}
#fmew_admin fieldset{
	clear:both;
	padding:5px;
}
#fmew_admin .add{
	float:left;
	position:relative;
	z-index:5;
}
#fmew_admin .add a{
	display:block;
	width:20px;
	height:23px;
	background:#fff url(../images/down.png) no-repeat;
	float:right;
	border:1px #dfdfdf solid;
	border-left:none;
}
#fmew_admin .add .select{
	width:187px;
	height:19px;
	padding:4px 0 0 0;
	background:#fff url(../images/select.png) no-repeat;
	cursor:pointer;
}
#fmew_admin .add .select span{
	padding:0 0 0 30px;
}
#fmew_admin .add .select_footer{
	width:187px;
	height:3px;
	background:#fff url(../images/select_footer.png) no-repeat;
}
#fmew_admin .add ul{
	display:none;
	width:187px;
	position:absolute;
	top:23px;
	background:#ccc url(../images/select_footer.png) 0 100% no-repeat;
	padding:0 0 3px 0;
	z-index:9999;
}
#fmew_admin .add ul li{
	border-left:1px #aaa solid;
	border-right:1px #aaa solid;
	margin:0;
	padding:5px 0 5px 30px;
	height:20px;
	line-height:20px;
	cursor:pointer;
}
#fmew_admin .add ul li:hover{
	background-color:#999;
}
#fmew_admin .list tr td{
	height:20px;
	line-height:20px;
	padding:5px 5px 5px 10px;
}
#fmew_admin .list tr td span{
	padding:0 40px 0 0;
	text-indent:-999px;
}
#fmew_admin .FaceBook{
	background:url(../images/facebook_16.png) 10px 50% no-repeat;
}
#fmew_admin .FriendFeed{
	background:url(../images/friendfeed_16.png) 10px 50% no-repeat;
}
#fmew_admin .LinkedIn{
	background:url(../images/linkedin_16.png) 10px 50% no-repeat;
}
#fmew_admin .MySpace{
	background:url(../images/myspace_16.png) 10px 50% no-repeat;
}
#fmew_admin .Friendster{
	background:url(../images/friendster_16.png) 10px 50% no-repeat;
}
#fmew_admin .Orkut{
	background:url(../images/orkut_16.png) 10px 50% no-repeat;
}
#fmew_admin .Bebo{
	background:url(../images/bebo_16.png) 10px 50% no-repeat;
}
#fmew_admin .Hi5{
	background:url(../images/hi5_16.png) 10px 50% no-repeat;
}
#fmew_admin .Twitter{
	background:url(../images/twitter_16.png) 10px 50% no-repeat;
}
#fmew_admin .Flickr{
	background:url(../images/flickr_16.png) 10px 50% no-repeat;
}
#fmew_admin .Digg{
	background:url(../images/digg_alt_16.png) 10px 50% no-repeat;
}
#fmew_admin .Delicious{
	background:url(../images/delicious_16.png) 10px 50% no-repeat;
}
#fmew_admin .Buzz{
	background:url(../images/buzz_16.png) 10px 50% no-repeat;
}
#fmew_admin .Wave{
	background:url(../images/wave_16.png) 10px 50% no-repeat;
}
#fmew_admin .Youtube{
	background:url(../images/youtube_16.png) 10px 50% no-repeat;
}
#fmew_admin .Vimeo{
	background:url(../images/vimeo_16.png) 10px 50% no-repeat;
}





#fmew_admin .list tr td a.del{
	display:block;
	width:20px;
	height:20px;
	margin:0 0 0 100px;
	background:url(../images/del.gif) 100% 0 no-repeat;
	text-indent:-999px;
	float:right;
}
#fmew_admin .list tr td a.edit{
	display:block;
	width:20px;
	height:20px;
	background:url(../images/write.gif) no-repeat;
	text-indent:-999px;
	float:left;
}
#fmew_admin .list tr td input.text{
	width:80px;
}
#fmew_admin .list_style{
	overflow:hidden;
}
#fmew_admin .list_style table{
	padding:5px 0 0 5px;
	width:330px;
}
#fmew_admin .list_style table tr td{
	padding:0 5px 5px 0;
}
